<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Envy24HTAudioDriver (Upgraded) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Envy24HTAudioDriver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libAudioFloatLib (Upgraded) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libAudioFloatLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>011774450071097E7F000001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>089C1673FE841209C02AAC07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844C5EC81072B3C60064BE19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844C5EEB1072B3C60064BE19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
